body {
    background-image: linear-gradient(to right, #83a4d4, #b6fbff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  h1 {
    font-size: 2rem;
    color: #ffffff;
  }
  
  .auth-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .auth-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077cc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ffffff;
    margin: 0 auto 1.5rem;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }
  
  .auth-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: #0077cc;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .auth-container button:hover {
    background-color: #005fa3;
  }
  
  .auth-container p {
    text-align: center;
  }
  
  .auth-container p a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .auth-container p a:hover {
    color: #005fa3;
  }
  
  .status-message {
    margin-top: 1rem;
    text-align: center;
    color: #ff0000;
  }
  