.navbar {
    background-color: rgb(54, 86, 121);
    display: flex;
    justify-content: center;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .nav-link:hover {
    background-color: #555;
    color: white;
  }
  
  .nav-link-active {
    background-color: #555;
    color: white;
  }

  .logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
  }
  
  .logout-button:hover {
    background-color: #555;
  }
  