@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  margin: 0;
}

.box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  flex-basis: 30%;
  margin-right: 20px;
}

.box:last-child {
  margin-right: 0;
}

.box-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.box-content {
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.btn {
  display: inline-block;
  background-color: #ffbf00;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-icon {
  margin-right: 10px;
}

.btn:hover {
  background-color: #ffc800;
}

input[type="file"] {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-preview {
  max-width: 600px;
  max-height: 400px;
  object-fit: contain;
  margin-right: 20px;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.confidence {
  margin: 0;
  font-size: 18px;
}

.treatment-advice {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.highlight {
  background-color: #ffc800;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}
